body {
    background-image: url(https://wallpaperaccess.com/full/212648.jpg);
}
a {
    color: black;

}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

/* nav section */

.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  .topnav a.active {
    background-color: #236bbd;
    color: white;
  }
  .navbar-item {
    font-size: large;
    padding-right: 1.25rem;
}
.myinfo {
    background: rgb(30, 144, 189);
}
.box {
    background: orange;
}
.journey {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: pink;
}
/* about me section */
.aboutMe{
    background: powderblue;
}
.subtitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}